<a href="https://colab.research.google.com/github/manthanrana01/Python/blob/main/File_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

File Handling
operation  like
read ,write
'with' is keyword
open is function
(file.txt" "w') as file
file .write("hi")
w for  write
r for read
a is for append for adding the data  without delelting the previous deleting previosu value

In [ ]:
with open("file.txt","w") as file:#for creating  and adding the  keyword
    file.write("hi")

In [ ]:
with open("file.txt","r") as file:
    file.read()

In [ ]:
with open("file.txt","r") as file: #for reading  file
    data=file.read()
    print(data)

hi

In [ ]:
with open("file.txt","a") as file: #append for adding the value
    file.write("i am Manthan")

In [ ]:
with open("file1.txt","w")as file:
    file.write("Manthan")

In [ ]:
with open("file2.txt","w")as file:
    file.write("Bhardawaj")

In [ ]:
with open("file1.txt","r") as file:
    data1=file.read()
    print(data1)

Manthan

In [ ]:
with open("file2.txt","r") as file:
    data=file.read()
    print(data)

Bhardawaj

In [ ]:
with open("file3.txt","w")as file:
    file.write(data1+" "+data )

In [ ]:
import csv
with open("sales.csv","r") as file:
    reader=csv.reader(file)
    hader = next(reader)
    x = list(reader)
    print(x)

[['Alice', 'F', 'California', 'Laptop', '1200'], ['Bob', 'M', 'Texas', 'Phone', '800'], ['Charlie', 'M', 'California', 'Tablet', '450'], ['Diana', 'F', 'New York', 'Laptop', '1300'], ['Ethan', 'M', 'Texas', 'Headphones', '200'], ['Fiona', 'F', 'Florida', 'Phone', '850'], ['George', 'M', 'California', 'Phone', '750'], ['Hannah', 'F', 'Texas', 'Tablet', '500'], ['Ian', 'M', 'Florida', 'Laptop', '1400'], ['Jane', 'F', 'New York', 'Headphones', '220'], ['Kevin', 'M', 'New York', 'Laptop', '976'], ['Laura', 'F', 'California', 'Tablet', '1186'], ['Mike', 'M', 'Florida', 'Headphones', '315'], ['Nina', 'F', 'California', 'Laptop', '1445'], ['Oscar', 'F', 'California', 'Tablet', '560'], ['Paula', 'M', 'Texas', 'Headphones', '1998'], ['Quinn', 'M', 'Florida', 'Phone', '526'], ['Rita', 'F', 'New York', 'Tablet', '1134'], ['Sam', 'F', 'New York', 'Laptop', '412'], ['Tina', 'M', 'California', 'Tablet', '1901'], ['Uma', 'M', 'Illinois', 'Phone', '1925'], ['Victor', 'F', 'Illinois', 'Headphones', '697'], ['Wendy', 'M', 'Texas', 'Tablet', '673'], ['Xander', 'F', 'Florida', 'Headphones', '991'], ['Yara', 'M', 'Illinois', 'Laptop', '1173'], ['Zane', 'M', 'Florida', 'Phone', '1773'], ['Liam', 'F', 'Florida', 'Laptop', '659'], ['Mia', 'F', 'California', 'Tablet', '1745'], ['Noah', 'F', 'Illinois', 'Headphones', '1070'], ['Olivia', 'M', 'New York', 'Phone', '1361'], ['Peter', 'M', 'Florida', 'Tablet', '1424'], ['Sophia', 'M', 'Illinois', 'Tablet', '219'], ['James', 'M', 'Texas', 'Headphones', '1650'], ['Ava', 'F', 'Florida', 'Phone', '1818'], ['Henry', 'M', 'Illinois', 'Tablet', '904'], ['Emily', 'F', 'Illinois', 'Laptop', '1196'], ['Daniel', 'M', 'Florida', 'Laptop', '983'], ['Grace', 'M', 'New York', 'Laptop', '1573'], ['Jacob', 'F', 'Illinois', 'Headphones', '603'], ['Ella', 'F', 'Illinois', 'Phone', '1425'], ['Lucas', 'F', 'Texas', 'Laptop', '331'], ['Amelia', 'M', 'New York', 'Headphones', '1614'], ['Mason', 'M', 'Florida', 'Tablet', '1514'], ['Harper', 'F', 'California', 'Tablet', '687'], ['Logan', 'M', 'California', 'Headphones', '684'], ['Evelyn', 'F', 'Florida', 'Tablet', '1434'], ['Ethan', 'M', 'Texas', 'Laptop', '664'], ['Abigail', 'M', 'New York', 'Headphones', '1419'], ['Elijah', 'M', 'Illinois', 'Headphones', '1508'], ['Charlotte', 'F', 'California', 'Phone', '1623']]

In [ ]:
import csv
with open("sales.csv","r") as file:
    reader=csv.reader(file)
    hader = next(reader)
    for row in reader:
        print(row)

['Alice', 'F', 'California', 'Laptop', '1200']
['Bob', 'M', 'Texas', 'Phone', '800']
['Charlie', 'M', 'California', 'Tablet', '450']
['Diana', 'F', 'New York', 'Laptop', '1300']
['Ethan', 'M', 'Texas', 'Headphones', '200']
['Fiona', 'F', 'Florida', 'Phone', '850']
['George', 'M', 'California', 'Phone', '750']
['Hannah', 'F', 'Texas', 'Tablet', '500']
['Ian', 'M', 'Florida', 'Laptop', '1400']
['Jane', 'F', 'New York', 'Headphones', '220']
['Kevin', 'M', 'New York', 'Laptop', '976']
['Laura', 'F', 'California', 'Tablet', '1186']
['Mike', 'M', 'Florida', 'Headphones', '315']
['Nina', 'F', 'California', 'Laptop', '1445']
['Oscar', 'F', 'California', 'Tablet', '560']
['Paula', 'M', 'Texas', 'Headphones', '1998']
['Quinn', 'M', 'Florida', 'Phone', '526']
['Rita', 'F', 'New York', 'Tablet', '1134']
['Sam', 'F', 'New York', 'Laptop', '412']
['Tina', 'M', 'California', 'Tablet', '1901']
['Uma', 'M', 'Illinois', 'Phone', '1925']
['Victor', 'F', 'Illinois', 'Headphones', '697']
['Wendy', 'M', 'Texas', 'Tablet', '673']
['Xander', 'F', 'Florida', 'Headphones', '991']
['Yara', 'M', 'Illinois', 'Laptop', '1173']
['Zane', 'M', 'Florida', 'Phone', '1773']
['Liam', 'F', 'Florida', 'Laptop', '659']
['Mia', 'F', 'California', 'Tablet', '1745']
['Noah', 'F', 'Illinois', 'Headphones', '1070']
['Olivia', 'M', 'New York', 'Phone', '1361']
['Peter', 'M', 'Florida', 'Tablet', '1424']
['Sophia', 'M', 'Illinois', 'Tablet', '219']
['James', 'M', 'Texas', 'Headphones', '1650']
['Ava', 'F', 'Florida', 'Phone', '1818']
['Henry', 'M', 'Illinois', 'Tablet', '904']
['Emily', 'F', 'Illinois', 'Laptop', '1196']
['Daniel', 'M', 'Florida', 'Laptop', '983']
['Grace', 'M', 'New York', 'Laptop', '1573']
['Jacob', 'F', 'Illinois', 'Headphones', '603']
['Ella', 'F', 'Illinois', 'Phone', '1425']
['Lucas', 'F', 'Texas', 'Laptop', '331']
['Amelia', 'M', 'New York', 'Headphones', '1614']
['Mason', 'M', 'Florida', 'Tablet', '1514']
['Harper', 'F', 'California', 'Tablet', '687']
['Logan', 'M', 'California', 'Headphones', '684']
['Evelyn', 'F', 'Florida', 'Tablet', '1434']
['Ethan', 'M', 'Texas', 'Laptop', '664']
['Abigail', 'M', 'New York', 'Headphones', '1419']
['Elijah', 'M', 'Illinois', 'Headphones', '1508']
['Charlotte', 'F', 'California', 'Phone', '1623']

In [ ]:
import csv
with open("sales.csv","r") as file:
    reader=csv.reader(file)
    hader = next(reader)
    for row in reader:
      name.append(row)

In [ ]:
import csv
name,gender,state,product,amount = [],[],[],[],[]
with open("sales.csv","r") as obj:
  var = csv.reader(obj) #obj is object, need to store object in cv,reader function
  header = next(var)
  n = list(var)#converting in list
  for i in n:
    name.append(i[0])
    gender.append(i[1])
    state.append(i[2])
    product.append(i[3])
    amount.append(i[4])
print("name : ",name)
print("gender : ",gender)
print("state : ",state)
print("product : ",product)
print("amount : ",amount)

In [3]:
with open("files3.txt","w") as file:
  file.write("babydinasour \n")
  file.write("Kaushal \n")
  file.write("manthan")

In [10]:
with open("files3.txt", "r") as file:
  data = file.read()
  print (data)

babydinasour
Kaushal
manthan

In [9]:
with open("files3.txt", "r") as file:
  data = file.readline()#for 1st line
  print(data)

babydinasour

In [11]:
with open("files3.txt", "r") as file:
  data = file.readlines()
  print (data)

['babydinasour \n', 'Kaushal \n', 'manthan']

In [12]:
with open("files3.txt", "r") as file:
  data = file.readlines()
  for i in data:
    print(i)

babydinasour

Kaushal

manthan