<a href="https://colab.research.google.com/github/manthanrana01/Python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas are library
#import panads as pd :
#it creates data frames , i.e it creates it into tabular form

import pandas as pd
employer ={"name :" : ["vanita","vanshika","mohit","sohit"],
           "salary :": [50000,30000,50000,40000],
           "designation :": ["data analys","data analytics","data science","web devlepoment"]}
df=pd.DataFrame(employer) #datframe here shows table
# print(df) #it will show entire table
# print(df["name :"]) #it will only show name
print(df[["name :","salary :"]]) #it will show only this

     name :  salary :
0    vanita     50000
1  vanshika     30000
2     mohit     50000
3     sohit     40000

In [ ]:
#csv file
import pandas as pd
df=pd.read_csv("sales.csv") #to read data
dt=df.head()  #shows first 4 column
dd=df.tail()  #shows last columns
# print(dt)
# print(df.groupby("State")["Amount"].sum())
# print(df.groupby("Gender")["Amount"].sum())
# print(df.groupby("Product")["Amount"].sum())
# print(df)
print(df.groupby(["State","Product"])["Amount"].sum()) #for getting sum of different things

State       Product
California  Headphones     684
            Laptop        2645
            Phone         2373
            Tablet        6529
Florida     Headphones    1306
            Laptop        3042
            Phone         4967
            Tablet        4372
Illinois    Headphones    3878
            Laptop        2369
            Phone         3350
            Tablet        1123
New York    Headphones    3253
            Laptop        4261
            Phone         1361
            Tablet        1134
Texas       Headphones    3848
            Laptop         995
            Phone          800
            Tablet        1173
Name: Amount, dtype: int64

In [ ]:
#csv
import pandas as pd
df=pd.read