<a href="https://colab.research.google.com/github/manthanrana01/Python/blob/main/Python_class_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
factorial = 1
total=0
for i in range(1,11):
  factorial*=i
  total+=factorial
print(total)

4037913

In [ ]:
total =0
for  i in range (1,6,2):
  factorial=1
  for j in range(1,i+1):
    factorial*=j
  total+=factorial
print(total)

127

In [ ]:
fact_n = 1
sum_n = 0
for m in range(1,7):

  fact_n *= m
  print(fact_n)
  if m == (m * 2) :
    sum_n += fact_n
    print(sum_n)
print(sum_n)

1
2
6
24
120
720
0

In [ ]:
total =0
for  i in range (1,7,2):
  factorial=1
  for j in range(1,i+1):
    factorial*=j
  total+=factorial
print(total)

127

In [ ]:
fact =1
total = 0
for i in range (1,21,2):
  fact*=i
  if i==2 or i==20:
    total+=fact
print(total)

0

In [ ]:
fact = 1 #1!+3!...... bn nbn b
total =0
for i in range (1,7):
  fact= fact*i
  if i%2!=0:
    total = total+fact
print(total)

127

In [ ]:
#finding time when a and b will meet at the same point
person_A=40
person_B=30
total_time = 630
if person_A>person_B:
  greater=person_A
else:
  greater=person_B
for i in range(greater,person_A*person_B+1):
    if i%person_A==0 and i%person_B==0:
      time1=i
      break
print("the time taken ",time1)
meetup = total_time/time1
print(meetup)

In [ ]:
#two ropes
'''1st=36
   2nd=48
how muchh equal pieces we can cut rope into'''

num1=36
num2=48
if num1>num2:
  small=num2
else:
  small=num1
  for j in range(1,small+1):
     if num1%j==0 and num2%j==0:
      hcf=j
  print(hcf)
  cut1=num1/hcf
  print(f"the amount of time 1st rope can be cut{cut1}")
  cut2=num2/hcf
  print(f"the amount of times 2nd ropecan be cut {cut2}")
  max_cut=cut1+cut2
  print(f"the maximum times ropes can be cut{max_cut}")

In [ ]:
#distance of circle 400m and a takes 30 sec b akes 40 sec,find avg speed
distance=400
a=30
b=40
speed1=distance/a
print(f"speed of person a{speed1}")
speed2=distance/b
print(f"speed of person b{speed2}")
total=speed1+speed2
avg=total/2
print(avg)

In [ ]:
def function():
  print("hello world")
function()

hello world

In [ ]:
def function(a,b):
  print(a+b)
function(2,5)

7

In [ ]:
def fact(n):
  fact =1
  for i in range (1,n+1):
    fact=fact*i
  print(fact)
fact(3)

6

In [ ]:
def count(number):
    while number > 0:
        digit = number % 10
        print(digit)
        number = number // 10

count(5678)

8
7
6
5

In [ ]:
def fibonacci(n):
    a, b = 0, 1
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b

fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [ ]:
def hcf(num1,num2):
    if num1 < num2:
        small = num1
    else:
        small = num2
    for i in range(1,small + 1):
        if num1 % i == 0 and num2 % i == 0:
            hcf = i
    print(hcf)

hcf(12,56)

4

In [ ]:
def find_lcm(num1,num2):
    if num1 > num2:
        largest = num1
    else:
        largest = num2
    for i in range(largest,(num1 * num2) + 1):
        if i % num1 == 0 and i % num2 == 0:
            lcm = i
            break
    return lcm

result = find_lcm(14,41)
print(f"Lcm is {result}")

In [ ]:
def simple_interest(principal, rate_per_month, months, days):
    time_in_months = months + (days / 30)
    si = (principal * rate_per_month * time_in_months) / 100
    return si
p = 1000
r = 5
m = 3
d = 10
si = simple_interest(p, r, m, d)
total = p + si
print("Simple Interest is:", round(si, 2))
print("Total Amount is:", round(total, 2))

Simple Interest is: 166.67
Total Amount is: 1166.67

In [ ]:
def args(*xyz):
  return sum(xyz)
print(args(1,2,3,4,5,6))
print(args(1,3,3))

21
7

In [ ]:
def args(*xyz):
  sum=0
  for i in xyz:
    sum+=i
  return sum
print(args(1,2,3,4,5,6))
print(args(1,3,3))

21
7

In [ ]:
def fact_sum(num):
  fact = 1
  sum=0
  for i in range(1,num+1):
    fact*=i
    if i%2!=0:
       sum+=fact
  return sum
result=fact_sum(3)
print(result)

7

In [ ]:
def add_digit(num1,num2):
    return num1 + num2

def average_num(num1,num2):
    result = add_digit(num1,num2)
    average = result/2
    return average

result_average = average_num(10,30)
print(result_average)

20.0

In [ ]:
name ="vanshika"
print(name[0])
print(name[4])
print(name[3:6])

v
h
shi

In [ ]:
name ="Manthan"
if "a" in name:
  print("avilable")
else:
    print("not avliable")

not avliable

In [ ]:
name="Manthan"
print(name[-5:-1])

ntha

In [ ]:
name ="Manthan"
print(name[::-1])

nahtnaM

In [ ]:
num= "1,2,3,4,5"
print(num[::-1])

5,4,3,2,1

In [ ]:
name = "monaanom"
reverse = name[-1::-1]
if name == reverse:
  print("palidrome")
else:
  print("not palidrome")

palidrome

In [ ]:
num = 12344321
reverse = str(num)[::-1]
if num == int(reverse):
    print("palidrome")
else:
    print("not a palidrome")
print (int(reverse)/2)

palidrome
6172160.5

In [ ]:
name = "Manthan"
for i in name:
  print(i)

M
a
n
t
h
a
n

In [ ]:
name = "pqpqpq"
find ="p"
count =0

for char in name :
  if char == find:
    count +=1
print(count)

3

In [ ]:
#find number  between 0 to 100 which is  divible by  5  and 10 but not 15  or 20
for i in range (0,100):
  if i%5==0 and i%10==0 and i%15!=0 and i%20!=0:
    print(i)

10
50
70

In [ ]:
#find odd number betwween  50 and 80 divisble by 15  but not 20
for i in range(0,81):
  if i%15==0 and i%25!=0 and i%2!=0:
    print(i)

15
45

In [ ]:
#find  sum of first  25 numbers which is not divisible by 1,2,3,4,5
for i in range (1,26):
  if i%1!=0 and i%2!=0 and i%3!=0 and i%4!=0 and i%5!=0:
    print(i)

In [ ]:
#find  sum of first  25 numbers which is  divisible by 1,2,3,4,5
for i in range (1,26):
  if i%1==0 and i%2==0 and i%3==0 and i%4==0 and i%5==0:
    print(i)

In [ ]:
#find  sum of first  25 numbers which is not divisible by 2,3,4,5
sum = 0
for i in range(1,26):
  if i%2!=0 and i%3!=0 and i%4!=0 and i%5!=0:
    sum = i+sum
print(sum)

91