<a href="https://colab.research.google.com/github/manthanrana01/Python/blob/main/Python_project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#in set comes in {} barses evertying is same as list but you cannot duplicate the value6 dont allow index
#dictoney comes in {}

In [ ]:
item = {
    "apple" : 120,
    "banana" : 60,
    "grapes" : 100,
}

print(item)

{'apple': 120, 'banana': 60, 'grapes': 100}

In [ ]:
item = {
    "apple" : 120,#apple is  key # 120 is value
    "banana" : 60,
    "grapes" : 100,
}

print(item["apple"])

120

In [ ]:
item = {
    "apple" : 120,
    "banana" : 60,
    "grapes" : 100,
}
for key,value in item.items():
  print("price of ",key,value)

price of  apple 120
price of  banana 60
price of  grapes 100

In [ ]:
item = {
    "apple" : 120,
    "banana" : 60,
    "grapes" : 100,
}
for value in item.values():
  print("price of ",value)

price of  120
price of  60
price of  100

In [ ]:
item = {
    "apple" : 120,
    "banana" : 60,
    "grapes" : 100,
}
for value in item.keys():
  print("price of ",value)

price of  apple
price of  banana
price of  grapes

In [ ]:
item = {
    "apple" : 120,
    "banana" : 60,
    "grapes" : 100,#finding total
}
total =0
for value in item.values():
  total += value
print("price of ",total)

price of  280

In [ ]:
item = {
    "apple" : [120,200,100],
    "banana" : 60,
    "grapes" : 100,
}

for key in item["apple"]:
  print(key)

120
200
100